= javascript_include_tag "create_event"

%nav.navbar.navbar-inverse{:role => "navigation"}
  .navbar-header
    %a.navbar-brand{:href => "#"} M.A.G.I
  %ul.nav.navbar-nav.navbar-right
    %li
      %a{:href=>'allevent'}
        %i{:class=>"fa fa-align-justify fa-fw"} 
        Event

    %li
      %a{:href=>'profile'}
        %i{:class=>"fa fa-user fa-fw"} 
        Profile
        
    %li
      %a{:href=>'logout'}
        %i{:class=>"fa fa-sign-out fa-fw"} 
        Logout

.container
  .row
    .col-md-2
    .col-md-8
      -if @flash_notice != ''
        .alert.alert-danger
          =@flash_notice
      -if @error_type != -1
        %input{:type=>"hidden", :value => 1, :id => 'current_qid'}
        = form_tag({:action => 'create'}) do
          %div#q_form
            %input{:type=>"hidden", :value=>@eid, :name=>:q_eid}
          %li{:id=>'q_list', :style=>"list-style-type:none"}
            .panel.panel-success#Q1
              .panel-heading
                %h3.panel-title
                  Question
                  %a.btn.btn-sm.pull-right{:href => "javascript:move_q_up(1)", :style => "color: #3071a9; background: none; outline: 0"}
                    %i.fa.fa-chevron-up.fa-lg
                  %a.btn.btn-sm.pull-right{:href => "javascript:move_q_down(1)", :style => "color: #3071a9; background: none; outline: 0"}
                    %i.fa.fa-chevron-down.fa-lg
                  //%input{:style => "float:right",:type => "button", :onclick => "", :id => 'down_btn', :value => '\\/'}
                  //%input{:style => "float:right", :type => "button", :onclick => "", :id => 'up_btn', :value => '/\\'}
              .panel-body
                .form-group
                  %input{:class => 'form-control', :value=>'', :name=>"Q1[title]", :placeholder => "Title"}
                .form-group
                  %label Type
                  %select{:class => 'form-control', :name => "Q1[type]", :belong => "1"}
                    %option{:value => 1}= "Text"
                    %option{:value => 2}= "Checkboxes"
                    %option{:value => 3}= "Radio Buttons"
                    %option{:value => 4}= "Dropdown"
                    %option{:value => 5}= "Paragraph Text"
                  .form-group
                  %a.btn.btn-danger{:href => "javascript:delete_question(1)"}
                    %i.fa.fa-trash-o.fa-lg
                    Delete Question
          %a.btn.btn-primary{:id => 'create_q_btn', }
            %i.fa.fa-plus.fa-lg
            Add Question
          //%input{:class => 'btn btn-primary', :type => "button", :onclick => "", :id => 'create_q_btn', :value => 'Add Question'} 
          = submit_tag("Create", :class => 'btn btn-success')
    .col-md-2
  .row
    %br
    
    
    
