%nav.navbar.navbar-inverse{:role => "navigation"}
  .navbar-header
    %a.navbar-brand{:href => "home"} M.A.G.I
  %ul.nav.navbar-nav.navbar-right
    %li
      %a{:href=>'home'}
        %i{:class=>"fa fa-home fa-fw"} 
        Home 
    %li
      %a{:href=>'allevent'}
        %i{:class=>"fa fa-align-justify fa-fw"} 
        Event
    %li
      %a{:href=>'profile'}
        %i{:class=>"fa fa-user fa-fw"} 
        Profile
    %li
      %a{:href=>'logout'}
        %i{:class=>"fa fa-sign-out fa-fw"} 
        Logout
        
        
.container
  .row
    .col-md-2
    .col-md-8
      .panel.panel-primary
        .panel-heading
          %h3.panel-title Impression
        .panel-body
          = form_tag(:action => 'update', :iid => @impression.id) do
            .form-group
              %label Name
              %input{:class => 'form-control', :value=>@impression.iname, :name=>"Name"}
            .form-group
              %label Unit
              %input{:class => 'form-control', :value=>@impression.unitid, :name=>"Unit"} 
            .form-group
              %label War
              %input{:class => 'form-control', :value=>@impression.iwar, :name=>"War"}
            .form-group
              %label Side
              %select{:class => 'form-control', :value=>@impression.iside, :name=>"Side"}
                %option{:value => "USA", :selected => @impression.iside == "USA"}= "USA" 
                %option{:value => "British", :selected => @impression.iside == "British"}= "British"
                %option{:value => "Soviet", :selected => @impression.iside == "Soviet"}= "Soviet"
                %option{:value => "German", :selected => @impression.iside == "German"}= "German"
                %option{:value => "Italian", :selected => @impression.iside == "Italian"}= "Italian"
                %option{:value => "Japanese", :selected => @impression.iside == "Japanese"}= "Japanese"
                %option{:value => "French", :selected => @impression.iside == "French"}= "French"
                %option{:value => "Prussia", :selected => @impression.iside == "Prussia"}= "Prussia"
                %option{:value => "South Korea", :selected => @impression.iside == "South Korea"}= "South Korea"
                %option{:value => "North Korea", :selected => @impression.iside == "North Korea"}= "North Korea"
                %option{:value => "North Vietnam", :selected => @impression.iside == "North Vietnam"}= "North Vietnam"
                %option{:value => "South Vietnam", :selected => @impression.iside == "South Vietnam"}= "South Vietnam"
                %option{:value => "Other", :selected => @impression.iside == "Other"}= "Other"
            .form-group
              %label Name of Commander
              %input{:class => 'form-control', :value=>@impression.commander, :name=>"Commander"}
            .form-group
              %label  Description
              %textarea{:class => 'form-control', :rows => "8", :value=>@impression.idescription, :name=>"Description"}
                =@impression.idescription
      
            = submit_tag("Save", :class => 'btn btn-primary')

  .row
    %br
    %br
    %br
    %br
    %br
    %br           