%nav.navbar.navbar-inverse{:role => "navigation"}
  .navbar-header
    %a.navbar-brand{:href => "home"} M.A.G.I
  %ul.nav.navbar-nav.navbar-right
    %li
      %a{:href=>'home'}
        %i{:class=>"fa fa-home fa-fw"} 
        Home 
    %li
      %a{:href=>'allevent'}
        %i{:class=>"fa fa-align-justify fa-fw"} 
        Event
    %li
      %a{:href=>'profile'}
        %i{:class=>"fa fa-user fa-fw"} 
        Profile
    %li
      %a{:href=>'logout'}
        %i{:class=>"fa fa-sign-out fa-fw"} 
        Logout
          
.container
      
  .row
    .col-md-4
    .col-md-4
      %h1{:style=>"text-align:center; font-size: 50px;"} Profile
      .table-responsive
        %table.table.table-basic
          %tbody
          %center
            %tr
              %td
                %b Email:
              %td
                = @current_user.email
            %tr
              %td
                %b First Name:
              %td
                = @current_user.firstname
            %tr
              %td
                %b Last Name:
              %td
                = @current_user.lastname
            %tr
              %td
                %b Phone Number:
              %td
                = @current_user.phonenumber
            %tr
              %td
                %b Gender:
              %td
                = @current_user.gender
            %tr
              %td
                %b Address:
              %td
                = @current_user.addressline1
            %tr
              %td
                %b City:
              %td
                = @current_user.city
            %tr
              %td
                %b State:
              %td
                = @current_user.state
            %tr
              %td
                %b Zip Code:
              %td
                = @current_user.zipcode
      .col-md-4.text-center
      %a{:href => setting_path, :class =>'btn btn-success'} Edit 
  

.row
  %br
  %br
  %br
  %br
  %br
  %br 
