%nav.navbar.navbar-inverse{:role => "navigation"}
  .navbar-header
    %a.navbar-brand{:href => "home"} M.A.G.I
  %ul.nav.navbar-nav.navbar-right
    %li
      %a{:href=>'home'}
        %i{:class=>"fa fa-home fa-fw"} 
        Home 
    %li
      %a{:href=>'allevent'}
        %i{:class=>"fa fa-align-justify fa-fw"} 
        Event
    %li
      %a{:href=>'profile'}
        %i{:class=>"fa fa-user fa-fw"} 
        Profile
    %li
      %a{:href=>'logout'}
        %i{:class=>"fa fa-sign-out fa-fw"} 
        Logout
%body
  %div{:style=> "background-image: image url('login_bg.png');"}
    %h1{:style=>"text-align:center; font-size: 50px;"} All Events
    %br
    %center 

.container
  .row
    .col-md-2
    .col-md-8
      -if flash[:notice] != nil
        .alert.alert-success.alert-dismissable
          %button.close{:type=>"button", "data-dismiss"=>"alert"}
            %span{"aria-hidden"=>true}×
            %span.sr-only Close
          %strong 
            =flash[:notice]
            =flash[:color]
      -if @events.length == 0
        .alert.alert-info.alert-dismissable
          %button.close{:type=>"button", "data-dismiss"=>"alert"}
            %span{"aria-hidden"=>true}×
            %span.sr-only Close
          %strong No available events
      -else
        - cnt= 0
        - @events.each do |e|
          - cnt+=1
          .panel.panel-primary
            .panel-heading
              %h3.panel-title Event: #{e.etitle}
            .panel-body
              %label Open for registration:    
              -if e.eavailabilityflag == 1
                ="   Yes"
              -else
                ="   No"
              %br
              %label Roles: &nbsp;&nbsp;&nbsp;
              -if e.eimpressionflag?
                Reenactors&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      
              -if e.evehicleflag?
                Vehicles &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
              -if e.evendorflag?
                Vendors &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    
              -if e.eeducatorflag?
                Educators&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              %br
              %label Location 
              = e.elocation
              %br
              %label Start Time  
              = e.estart
              %br
              %label End Time  
              = e.eend
              %br
              %label Event Description 
              = e.edescription
              %br
              %a{:href => "datashow?eid=#{e.id}", :class =>'btn btn-primary btn-sm', :role=>'button'} Show
              %a{:href => "eventedit?eid=#{e.id}", :class =>'btn btn-primary btn-sm', :role=>'button'} Edit
              %a{:href => "eventdelete?eid=#{e.id}", :class =>'btn btn-primary btn-sm', :role=>'button'} Delete
              %br

      
      %a{:href => 'EventCreate', :class =>'btn btn-primary btn-sm', :role=>'button'} Create Event
  .row
    %br
    %br
    %br
    %br
    %br
    %br
