%nav.navbar.navbar-inverse{:role => "navigation"}
    .navbar-header
        %a.navbar-brand{:href => "home"} M.A.G.I
    %ul.nav.navbar-nav.navbar-right
        %li
            %a{:href=>'home'}
                %i{:class=>"fa fa-home fa-fw"} 
                Home
        %li
            %a{:href=>'allevent'}
                %i{:class=>"fa fa-align-justify fa-fw"} 
                Event
        %li
            %a{:href=>'profile'}
                %i{:class=>"fa fa-user fa-fw"} 
                Profile
        %li
            %a{:href=>'logout'}
                %i{:class=>"fa fa-sign-out fa-fw"} 
                Logout
%p#notice= notice

%p
  %b Email:
  = @user.email
%p
  %b First Name:
  = @user.firstname
%p
  %b Last Name:
  = @user.lastname
%p
  %b Phone Number:
  = @user.phonenumber
%p
  %b Gender:
  = @user.gender
%p
  %b Address:
  = @user.addressline1
%p
  %b City:
  = @user.city
%p
  %b State:
  = @user.state
%p
  %b Role:
  = @user.role
%p
  %b Salt:
  = @user.salt
%p
  %b Encrypted_password:
  = @user.encrypted_password

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path


.row
  %br
  %br
  %br
  %br
  %br
  %br 
