%p#notice= notice

%p
  %b Email:
  = @user.email
%p
  %b Lastname:
  = @user.lastname
%p
  %b Firstname:
  = @user.firstname
%p
  %b Phonenumber:
  = @user.phonenumber
%p
  %b Gender:
  = @user.gender
%p
  %b Role:
  = @user.role
%p
  %b Salt:
  = @user.salt
%p
  %b Encrypted_password:
  = @user.encrypted_password

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
//
// .footer{:id => "footer", :style => "margin-bottom: 0"}
//   .row{:style => "background-color:rgba(15,39,64,1.00);"}
//     .col-md-3
//     .col-md-6
//       =image_tag "im3.png", :width=>"100%", :position=>"fixed", :bottom=>"0"
//     .col-md-3
