%nav.navbar.navbar-inverse{:role => "navigation"}
  .navbar-header
    %a.navbar-brand{:href => "home"} M.A.G.I
  %ul.nav.navbar-nav.navbar-right
    %li
      %a{:href=>'home'}
        %i{:class=>"fa fa-home fa-fw"} 
        Home 
    %li
      %a{:href=>'allevent'}
        %i{:class=>"fa fa-align-justify fa-fw"} 
        Event
    %li
      %a{:href=>'profile'}
        %i{:class=>"fa fa-user fa-fw"} 
        Profile
    %li
      %a{:href=>'logout'}
        %i{:class=>"fa fa-sign-out fa-fw"} 
        Logout
.container
  .row
    .h1.text-center Current Available Events 
    .col-md-2
    .col-md-8
      -if flash[:notice] != nil
        .alert.alert-success
          %button.close{:type=>"button", "data-dismiss"=>"alert"}
            %span{"aria-hidden"=>true}×
            %span.sr-only Close
          %strong 
            =flash[:notice]
      -if @events.length == 0 ||  @event == nil
        .alert.alert-info
          %button.close{:type=>"button", "data-dismiss"=>"alert"}
            %span{"aria-hidden"=>true}×
            %span.sr-only Close
          %strong No available events
      -else
        - cnt= 0
        - @events.each do |e|
          - cnt+=1
          .panel.panel-primary
            .panel-heading
              %h3.panel-title argh
                =e.etitle
            .panel-body
              %label Location 
              = e.elocation
              %br
              %label Start Time  
              = e.estart
              %br
              %label End Time  
              = e.eend
              %br
              %label Event Description 
              = e.edescription
              %br
              %a{:href => "inventory?eid=#{e.id}", :class =>'btn btn-primary btn-sm', :role=>'button'} Choose
              %br
      %div
        .col-md-9
        .col-md-3
        %a{:href => "home", :visited=>'color: #FFFFFF', :class =>'btn btn-primary btn-primary', :role=>'button'} Back to Home
      %br
      %br
    .col-md-3
  .row
    %br
    %br
    %br
    %br
    %br
    %br