%h1 edit existing event form 

    

 = form_tag movie_path(@event), method : => :put do
            
            = label :event, :title, 'Title'
            = text_field :event, 'title'
  
            = label :event, :event_location, 'Event Location'
            = text_field :event, :event_location
  
            = label :event, :event_description, 'Event Description'
            = text_field :event, :event_description
  
            = label :event, :start_date, 'Start Date'
            = text_field :event, :start_date

            = label :event, :event_date, 'End Date'
            = text_field :event, :event_date
  
  
  
            = submit_tag 'Update Event Info'
       