%nav.navbar.navbar-inverse{:role => "navigation"}
  .navbar-header
    %a.navbar-brand{:href => "home"} M.A.G.I
  %ul.nav.navbar-nav.navbar-right
    %li
      %a{:href=>'home'}
        %i{:class=>"fa fa-home fa-fw"} 
        Home 
    %li
      %a{:href=>'allevent'}
        %i{:class=>"fa fa-align-justify fa-fw"} 
        Event
    %li
      %a{:href=>'profile'}
        %i{:class=>"fa fa-user fa-fw"} 
        Profile
    %li
      %a{:href=>'logout'}
        %i{:class=>"fa fa-sign-out fa-fw"} 
        Logout
        
.container
  .row
    .col-md-2
    .col-md-8
      -if @flash_notice != ""
        .alert.alert-danger
          %button.close{:type=>"button", "data-dismiss"=>"alert"}
            %span{"aria-hidden"=>true}×
            %span.sr-only Close
          %strong 
            = @flash_notice
  .row
    .col-md-2
    .col-md-8
      .panel.panel-primary
        .panel-heading
          %h3.panel-title Vehicle
        .panel-body
          = form_tag(:action => 'create') do
            .form-group
              %label Vehicle Name
              %input{:class => 'form-control', :value=>'', :name=>"Name", :required=>""}
        
            .form-group
              %label Vehicle Class
              %select{:class => 'form-control', :value=>'', :name=>"Class", :required=>""}
                %option{:value => 'Wheeled'}= "Wheeled"
                %option{:value => 'Tracked'}= "Tracked" 
                %option{:value => 'Other'}="Other"
            
            %label Vehicle Impression
            .form-group
              .col-md-1
              .col-md-4
                %label Nation
                %select{:class => 'form-control', :value=>'', :name=>"Nation", :required=>""}
                  %option{:value => "USA"}= "USA"
                  %option{:value => "British"}= "British"
                  %option{:value => "Soviet"}= "Soviet"
                  %option{:value => "German"}= "German"
                  %option{:value => "Italian"}= "Italian"
                  %option{:value => "Japanese"}= "Japanese"
                  %option{:value => "French"}= "French"
                  %option{:value => "Prussia"}= "Prussia"
                  %option{:value => "South Korea"}= "South Korea"
                  %option{:value => "North Korea"}= "North Korea"
                  %option{:value => "North Vietnam"}= "North Vietnam"
                  %option{:value => "South Vietnam"}= "South Vietnam"
                  %option{:value => "Other"}= "Other (Specify in Description)"
              .col-md-1
              .col-md-4
                %label War
                %input{:class => 'form-control', :value=>'', :name=>"War", :required=>""}
        
            .form-group
              %label Vehicle Description
              %textarea{:class => 'form-control', :rows => "8", :value=>'', :name=>"Description"}
      
            = submit_tag("Create", :class => 'btn btn-primary')
  .row
    %br
    %br
    %br
    %br
    %br
    %br           
